/*!
 * LAYOUT DETAILS
 *
 * - Design based on desktop aui-page-fixed with style overrides:
 *   - Content width = 1020px wide + 10px side padding (x2) = 1040px total
 *   - Projects listed in 4-column layout
 * - Media queries to adjust layout:
 *   - width < 960px:
 *     - (Repo grid) Slightly shrink margins and column widths
 *   - width < 760px:
 *     - (Repo grid) Switch to full-width single-column layout
 */


/**
 * FONTS
 */

@font-face {
    font-family: "Circular Pro";
    src: url(/fonts/lineto-circular-bold-c.eot);
    src: url(/fonts/lineto-circular-bold-c.eot?#iefix) format("embedded-opentype"),
         url(/fonts/lineto-circular-bold-c.woff) format("woff"),
         url(/fonts/lineto-circular-bold-c.ttf) format("truetype"),
         url(/fonts/lineto-circular-bold-c.svg#LLCircularWeb-Bold) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Circular Pro";
    src: url(/fonts/lineto-circular-medium-c.eot);
    src: url(/fonts/lineto-circular-medium-c.eot?#iefix) format("embedded-opentype"),
         url(/fonts/lineto-circular-medium-c.woff) format("woff"),
         url(/fonts/lineto-circular-medium-c.ttf) format("truetype"),
         url(/fonts/lineto-circular-medium-c.svg#LLCircularWeb-Medium) format("svg");
    font-weight: 400;
    font-style: normal;
}


/**
 * GENERIC AUI OVERRIDES
 */

body {
    background: #fff;
    color: #333;
}
.aui-page-fixed .aui-header-inner,
.aui-page-fixed .aui-page-header-inner,
.aui-page-fixed .aui-page-panel-inner,
.aui-page-fixed #footer .footer-body {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1040px;
    width: 100%;
}
h1, h2, h3 {
    font-family: "Circular Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #205081;
}
#content > .aui-page-header {
    padding: 0;
}
.aui-page-panel {
    border: none;
}

/**
 * HEADER AND INTRO
 */

.aui-header {
    background: #fff;
    padding: 35px 0 25px 0;
    border-bottom: 0;
    color: #3572b0;
}
.aui-header .aui-header-logo a {
    padding: 0;
}
.aui-header-logo-device {
    background-image: url(/img/logo-developers-68-blue.png);
    width: 268px;
    text-decoration: none;
}
.aui-header a:hover,
.aui-header a:focus {
    background-color: transparent; /* Override from aui nav */
    color: #205081;
}
.aui-page-header-hero .aui-page-header-main .hero-header {
    color: #205081;
    /* remove this font-size tweak when we recast the hero area to better align with OSP's new stuff */
    font-size: 2.375rem; /* 38px */
    font-weight: 500;
    margin: 30px 0 40px 0;
    text-align: center;
}
.aui-page-header-hero .aui-page-header-main p {
    font-size: 1rem;
}
.aui-page-header-hero .aui-page-header-main p.hero-intro {
    margin: 40px auto 0;
    max-width: 580px;
    text-align: center;
}
.aui-page-header-hero .aui-page-header-main p.hero-intro + .hero-intro {
    margin-top: 0.5em;
}
.hero-cta {
    margin-bottom: 40px;
    margin-top: 40px;
}
.hero-cta .aui-item {
    font-size: 0.9375rem; /* 15px */
    text-align: center;
}
.hero-cta-question,
.hero-cta-action {
    display: block;
}

/**
 * BREAKPOINT: Screen is narrower than header paragraph max-width
 * Change header paragraphs to left-aligned because centre-aligned looks wonky
 */
@media (max-width: 580px) {
    .aui-page-header-hero .aui-page-header-main p.hero-intro {
        text-align: left;
    }
}

/**
 * BREAKPOINT: Screen is too narrow for 3-column header call-to-action links
 * Switch CTAs to more compact row-based layout
 */
@media (max-width: 540px) {
    .hero-cta .aui-item {
        display: table-row;
        text-align: left;
    }
    .hero-cta .aui-item + .aui-item {
        padding-left: 0;
    }
    .hero-cta-question,
    .hero-cta-action {
        display: table-cell;
    }
    .aui-item + .aui-item .hero-cta-question,
    .aui-item + .aui-item .hero-cta-action {
        padding-top: 20px;
    }
    .hero-cta-action {
        padding-left: 10px;
    }
}


/**
 * REPOSITORY LISTS
 */

.repo-filters {
    margin-top: 20px;
}
.repositories > .aui-page-panel-inner {
    border: solid #ccc;
    border-width: 1px 0;
}
.repositories-empty-state {
    display: block;
    font-size: 1rem;
    margin: 20px;
}
.repo-category + .repo-category .repo-category-title {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}
.repo-category-description + .repo-langs {
    margin-top: 20px;
}
.lang:first-child {
    margin-top: 25px;
}


/* START layout styles from pre-ADG design */
/* At some point in the future, replace these with a flexbox-based grid */

.block {
    min-height: 90px;
    padding: 20px;
}
#repositories {
    margin: 20px -20px;
    min-height: 400px;
}
.lang.compact {
    display: inline-block;
    margin: 0 -20px;
}
.lang.compact.compact-start {
    margin: 0;
}
.lang > h2,
.repo-category-title,
.repo-category-description {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.repo-list {
    border-spacing: 20px;
    display: table;
    margin-top: -5px;
    table-layout: fixed;
}
.repo-row {
    display: table-row;
}
.repo {
    color: inherit;
    display: table-cell;
    margin-top: 0;
    min-width: 225px;
    max-width: 225px;
    overflow: hidden;
    width: 225px;
    -webkit-tap-highlight-color: #ebf2f9;
}
.repo:hover {
    background-color: #ebf2f9;
    text-decoration: none;
}
.repo .block {
    max-height: 250px;
    max-width: 183px; /* Needed for IE8/9 */
}
.repo p {
    word-wrap: break-word;
}
.panel {
    border: 1px solid #ccc;
    border-radius: 5px;
}

/**
 * BREAKPOINT: Screen is too narrow for base 4-column layout
 * Slightly shrink margins and column widths
 */
@media (max-width: 959px) {
    #repositories {
        margin-left: -10px;
        margin-right: -10px;
    }
    .repo-category-description + .repo-langs {
        margin-top: 10px;
    }
    .lang.compact {
        margin: 0 -10px;
    }
    .lang > h2,
    .repo-category-title,
    .repo-category-description {
        margin-left: 10px;
        margin-right: 10px;
    }
    .repo-list {
        border-spacing: 10px;
    }
    .repo {
        min-width: 177px;
        max-width: 177px;
        width: 177px;
    }
}

/**
 * BREAKPOINT: Screen is too narrow for any 4-column layout
 * Switch to full-width single-column layout
 */
@media (max-width: 759px) {
    #repositories {
        margin-left: 0;
        margin-right: 0;
    }
    .lang.compact {
        display: block;
        margin: inherit;
    }
    .lang.compact.compact-start {
        margin: inherit;
    }
    .lang > h2 {
        margin-top: 10px;
        text-align: center;
    }
    .repo-list {
        display: block;
    }
    .repo-row {
        display: block;
    }
    .repo {
        display: block;
        margin-top: 10px;
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }
    .repo .block {
        max-width: 100%;
    }
}

/* END layout styles from pre-ADG design */


/**
 * TRADEMARK & FOOTER
 */

.aui-page-panel.trademark {
    min-height: 80px;
    text-align: center;
    border: none;
}
#footer {
    background: #f5f5f5;
    position: relative;
    bottom: 0;
    height: 80px;
}
#footer .footer-body {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 0;
}
#footer-logo {
    bottom: 0;
    margin-top: 27px;
}
