<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atlassian Developers &mdash; Open source at Atlassian</title>

  <link rel="icon" type="image/png" href="/img/favicon.png"/>
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui.css" media="all">
  <link rel="stylesheet" type="text/css" href="css/main.css" media="all"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/5.8.14/js/aui.js"></script>
</head>
<body class="aui-page-fixed dac">
<div id="page">

    <header id="header" role="banner">
      <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
        <div class="aui-header-inner">
          <div class="aui-header-primary">
            <h1 id="logo" class="aui-header-logo aui-header-logo-design">
              <a href="https://developer.atlassian.com"><span class="aui-header-logo-device">Atlassian Developers</span></a>
            </h1>
            </div>
        </div>
      </nav>
    </header>

  <section id="content" role="main">
    <header class="aui-page-header aui-page-header-hero home-page-hero">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1 class="hero-header">
                  Open source at Atlassian
                </h1>
                <p class="hero-intro">
                    Working with and contributing to open source software everywhere.
                </p>
                <p class="hero-intro">
                    We're thankful to work with many projects and communities, and our engineers
                    have released a lot of open source projects at Atlassian. Here's the full list.
                </p>
                <div class="aui-group hero-cta">
                    <div class="aui-item">
                        <span class="hero-cta-question">Interested in our products?</span>
                        <a class="hero-cta-action" href="https://www.atlassian.com/software">Try them free</a>
                    </div>
                    <div class="aui-item">
                        <span class="hero-cta-question">Building for our products?</span>
                        <a class="hero-cta-action" href="https://developer.atlassian.com/">Visit the developer site</a>
                    </div>
                    <div class="aui-item">
                        <span class="hero-cta-question">Want to join us?</span>
                        <a class="hero-cta-action" href="https://www.atlassian.com/careers">We’re always hiring</a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="aui-page-panel repositories">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
            <!--Start of temporary banner block. Delete this block when the banner is no longer needed. Author: Nick Wade-->
            <div id="banner" class="aui-message aui-message-generic generic closeable shadowed" style="display:none">
                <p class="title">Stash is now known as Bitbucket Server.</p>
                <p>You can find all the Stash projects under the Bitbucket filter.</p>
            </div>

           <script type="text/javascript">
                $(function() {
                    var BitbucketBanner = $("#banner");
                    var cookieName = "Bitbucket-banner-hidden";
                    if (!$.cookie(cookieName)) {
                        BitbucketBanner.slideDown();
                    }

                    BitbucketBanner.find(".icon-close").one("click", function() {
                        BitbucketBanner.slideUp();
                        $.cookie(cookieName, "true", { expires: 365 });
                    });
                });
            </script>
            <!--End of temporary banner block-->
            <p class="aui-buttons repo-filters">
                <a href="#all" class="aui-button" aria-pressed="true">All</a>
                <a href="#jira" class="aui-button">JIRA</a>
                <a href="#confluence" class="aui-button">Confluence</a>
                <a href="#bitbucket" class="aui-button">Bitbucket</a>
                <a href="#hipchat" class="aui-button">HipChat</a>
                <a href="#bamboo" class="aui-button">Bamboo</a>
            </p>

            <div id="repositories">
                <em class="repositories-empty-state">Loading repositories&hellip;</em>
            </div>
            </section>
        </div>
    </div>

    <script id="category-template" type="text/x-mustache-template">
        <div class="repo-category">
            {{#isLabs}}
                <h1 class="repo-category-title">Atlassian Labs</h1>
                <p class="repo-category-description">
                    Experiments released into the world! Atlassian Labs holds personal projects by Atlassian developers.
                </p>
                <p class="repo-category-description">
                    These add-ons are often developed in conjunction with hack-a-thons and Atlassian ShipIt Days,
                    but are not officially supported.
                </p>
            {{/isLabs}}
            <div class="repo-langs">
                {{{categoryMarkup}}}
            </div>
        </div>
    </script>
    <script id="lang-template" type="text/x-mustache-template">
        <section class="lang{{#compact}} compact{{/compact}}{{#compactStart}} compact-start{{/compactStart}}">
            <h2>{{lang}}</h2>
            <div class="repo-list">
                {{#groupedRepos}}
                    <div class="repo-row">
                        {{#repos}}
                            <a href="https://bitbucket.org/{{owner}}/{{slug}}" class="repo panel">
                                <div class="block">
                                    <h3>{{name}}{{#is_labs}} (Labs){{/is_labs}}</h3>
                                    {{#description}}
                                        <p class="description">{{description}}</p>
                                    {{/description}}
                                    {{^description}}
                                        <p class="description empty">No description</p>
                                    {{/description}}
                                </div>
                            </a>
                        {{/repos}}
                    </div>
                {{/groupedRepos}}
            </div>

        </section>
    </script>
    <!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script> -->
    <!-- Offline fallback -->
    <!-- script>window.jQuery || document.write('<script src="js/jquery-1.8.0.js"><\/script>')</script> -->
    <script src="js/trunk8.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/main.js"></script>
    <script src="https://api.bitbucket.org/1.0/users/atlassian/?callback=collectSupportedRepositories"></script>
    <script src="https://api.bitbucket.org/1.0/users/atlassianlabs/?callback=collectLabsRepositories"></script>
    <script>window.initPage();</script>

            <div class="aui-page-panel trademark">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        Various names and logos are <a href="https://www.atlassian.com/legal/trademark" target="_blank">trademarks of Atlassian</a>.
                    </section>
                </div>
            </div>

<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
<script src="//cdn.optimizely.com/js/112283247.js"></script>
<script type="text/javascript" src="//developer.atlassian.com/js/segment.js"></script>
<script type="text/javascript">
  adroll_adv_id = "32VY3BYAQRHLDDVMBEAGU2";
  adroll_pix_id = "7Q44S6SDXNA4NE4TSAUFGF";
  (function () {
    var oldonload = window.onload;
    window.onload = function () {
      __adroll_loaded = true;
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
          document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      if (oldonload) {
        oldonload()
      }
    };
  }());
</script>

    </section>
    <footer id="footer" role="contentinfo">
      <section class="footer-body">
        <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
      </section>
    </footer>
</div>


</body>
</html>
